name: Fetch latest image on server

on:
  workflow_run:
    workflows:
      - "Build and Publish Docker Image"
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          # This secret holds your SSH private key for connecting to the server.
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy via SSH and Docker Compose
        env:
          # Your server's IP address or hostname, securely stored as a secret.
          DEPLOY_HOST: ${{ secrets.SERVER_DNS_NAME }}
          # The user you SSH in as (e.g., 'ubuntu', 'ec2-user', 'root')
          DEPLOY_USER: ${{ secrets.SERVER_USER }} 
          SERVER_SSH_PORT: ${{ secrets.SSH_PORT }}
          # CHANGE THIS: Set the actual path on your server
          DEPLOY_DIR: /home/${{ secrets.SERVER_USER }}/

        run: |
          # Resolve the DNS name to an IP address
          DEPLOY_HOST_IP=$(dig +short ${{ env.DEPLOY_HOST }} | tail -n1)
          
          if [ -z "$DEPLOY_HOST_IP" ]; then
            echo "Error: Could not resolve IP for DNS"
            exit 1
          fi

          # Mask the IP address in logs
          echo "::add-mask::$DEPLOY_HOST_IP"

          echo "Resolved DNS IP"
          echo "Starting deployment to Server..."
          
          # SSH Command: Connects using the resolved IP 
          ssh -q -o StrictHostKeyChecking=no -p ${{ env.SERVER_SSH_PORT }} ${{ env.DEPLOY_USER }}@$DEPLOY_HOST_IP << EOF
            
            # 1. Change to the application directory
            cd ${{ env.DEPLOY_DIR }} || exit 1
            
            # 2. Stop and remove existing containers
            echo "Running: docker compose down"
            docker compose down
            
            # 3. Fetch the newest images
            echo "Running: docker compose pull"
            docker compose pull
            
            # 4. Start the services with the new images
            echo "Running: docker compose up -d"
            docker compose up -d
            
            echo "Deployment complete."
            exit
          EOF
